@import "tailwindcss";

/* input {
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: #eeeeee;
  color: black;
  margin: 1rem;
  font-size: xx-large;
} */
button {
  padding: 1rem 0.5rem;
  background: #0000dd;
  color: white;
  margin: 1rem;
  border-radius: 0.5rem;
}
